<div class="dashboard-container">
  <!-- Sidebar vertical menu -->
  <app-sidebar></app-sidebar>

  <!-- Main content -->
  <main class="main-content">
<app-navbar></app-navbar>

    <!-- Summary cards on top -->
    <header class="summary-cards">
      <div class="card">
        <h3>Net Worth</h3>
        <p>{{ netWorth | currency }}</p>
      </div>
      <div class="card">
        <h3>Overall Gains</h3>
        <p>{{ overallGains | currency }}</p>
      </div>
      <div class="card">
        <h3>Overall Returns</h3>
        <p>{{ overallReturns }}</p>
      </div>
      <div class="card">
        <h3>Cash Balance</h3>
        <p>{{ cashRemaining | currency }}</p>
      </div>
      <!-- <div class="card">
        <h3>Cash Remaining</h3>
        <p>{{ cashRemaining | currency }}</p>
      </div> -->
    </header>

    <!-- Portfolio section -->
    <section class="portfolio-table-section">
      <h2>Your Portfolio</h2>

      <!-- <div class="cash-balance">
        <strong>Cash Balance:</strong> {{ cashBalance | currency }}
      </div> -->

      <div class="ag-theme-alpine portfolio-grid">
        <ag-grid-angular
          *ngIf="isBrowser"
          class="portfolio-grid"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          animateRows="true"
          rowSelection="single"
          (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
      <!-- <app-robo-advisor></app-robo-advisor> -->
    </section>
  </main>
</div>
